*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    /* border: 1px solid red; */
    background-color: #7f6bdc;
    color: white;
    text-align: center;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7px;
    /* border: 1px solid red; */
}

.title{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

section{
    width: 100%;
    /* border: 1px solid red; */
    background-color:#d4d4d4;
}

.image{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.main_image{
    width: 95%;
    margin: 35px;
   
}
.table{
    width: 100%;
}
.lagend{
    text-align: center;
    padding-bottom: 10px;
}

.table{
    width: 100%;
}
.form{
    width: 90%;
    border-collapse: collapse;
    /* margin-left: 90px; */
    margin-left: 5%;
    height: 180px;
    text-align: center;
}
th{
    background-color: #806bdb;
    height: 35px;
}
.heading{
    color: #878787;
    margin-left: 25px;
    margin-top: 15px;
}
footer{
    background-color: black;
    color: white;
    height: 70px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

